/*About us */

.square-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 800px;
  height: 700px;
  background-color: #89d197;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  margin: 40px;
  background-color: #ecfeef;
  color: white;
  font-size: 14px;
  font-family: inherit;
  color: black;
  position: relative;
  overflow: hidden;
}
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  object-fit: cover;
}

.item:hover .hover-image {
  opacity: 1;
}

.item h3 {
  display: flex;
  text-align: center;
  font-size: 22px;
  padding: 15px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
