#author-img {
  width: 128px;
  border-radius: 50%;
}

main {
  background-color: #89d197;
  border-radius: 10px;
  max-width: 1240px;
  padding: 0;
  margin: 0 auto;
  color: #1f1f1f;
}

/* ! Blog header */

.author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 50px;
}

.author-name {
  margin-right: auto;
  padding-left: 10px;
  font-size: 1.5rem;
}

.post-date {
  font-size: 1.1rem;
}

/* ! Blog posts */

.blog-title {
  font-size: 2rem;
  margin: 15px 0;
  padding: 0 30px;
}
