/* colour of breathing circle using green colourscheme */

/* :root {
  color: #45b159;
  /* secondary-color: #89d197; */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #89d197;
}

.breathing {
  font-size: 4rem;
  animation: breathe 10s infinite forwards;
}

@keyframes breathe {
  50% {
    transform: scaleX(1.5) scaleY(1.2);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

h2 {
  text-align: center;
}

p {
  font-size: 1.5rem;
  text-align: center;
}

/* body {
  width: 100vw;
  height: 100vh;
  display:grid;
  overflow:hidden;
  justify-content: center;
  align-content: center;
}

main, section {
  height:300px;
  width:100vw;
  display:grid;
  justify-content: center;
  align-items: center;
}

section {
  height:auto;
}

div {
  background-color: #45b159;

} */
