audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 300px;
  height: 25px;
}

.breathing-exercise-off {
  display: none;
}

.breathing {
  margin: 50px auto;
  background-color: #45d159;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid #07831a;
  animation: breathe 12s infinite forwards;
}

.breathing-hidden {
  display: none;
}

@keyframes breathe {
  50% {
    transform: scaleX(1.2) scaleY(1.2);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

h2 .breathing-header {
  text-align: center;
}

p .breathing-p {
  font-size: 1.5rem;
  text-align: center;
}
