.segment {
  text-align: center;
  background-color: #89d197;
  padding: 20px 16px;
  max-width: 1240px;
  margin: 4rem auto;
  border-radius: 10px;
}

.mood-tracker-container {
  max-width: 1240px;
  margin: 4rem auto;
  border-radius: 10px;
}

.mood-tracker {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 150px 450px 250px;
  grid-auto-flow: column;
  margin: 0 auto;
  max-width: 80%;
  justify-content: center;
}

.mood-tracker-expanded {
  grid-template-rows: 150px 450px 600px;
}

.mood-tracker > * {
  border-radius: 10px;
}

.mood-tracker-quotes {
  grid-column: 1 / 3;
  grid-row: 1;
}

.mood-tracker-questionnaire {
  grid-column: 1 / 2;
  grid-row: 2;
}

.mood-tracker-rating {
  grid-column: 2 / 3;
  grid-row: 2;
}

.mood-tracker-help {
  grid-column: 1 / 3;
  grid-row: 3;
}

.mood-tracker section {
  margin: 10px;
  background-color: #ecfeef;
}

.mood-tracker p {
  margin: 10px;
}

.mood-tracker-questionnaire section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* height: 100%; */
  padding: 20px;
}

.mood-tracker-questionnaire section label {
  text-align: left;
  padding: 10px;
}

#questionnaire-text {
  /* height: 80%; */
  /* max-height: 80%; */
  /* border-radius: 20px; */
  max-width: 530px;
}

#form-submit {
  margin: 10px;
}

/* #form-questionnaire {
  width: 100%;
  height: 100%;
} */

form textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  scrollbar-width: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px #45b159;
  resize: none;
}

/* #form-questionnaire textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  scrollbar-width: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px #45b159;
  resize: none;
} */

#form-rating div {
  margin: 5px;
  border-radius: 25px;
  box-shadow: 0 0 10px #45b159;
}

.rating-container input[type="radio"] {
  margin: 10px;
  padding: 10px;
  opacity: 0;
  border-radius: 25px;
  position: fixed;
}

.rating-container label {
  font-size: 32px;
  width: 100%;
  display: block;
  border-radius: 25px;
  transition-duration: 0.3s;
  padding: 10px 0;
}

.rating-container input:checked + label {
  border-radius: 25px;
  color: white;
  transition-duration: 0.3s;
  padding: 10px 0;
}

.rating-container #rating_1:checked + label {
  background-color: #b14545;
}

.rating-container #rating_2:checked + label {
  background-color: #b19445;
}

.rating-container #rating_3:checked + label {
  background-color: #aab145;
}

.rating-container #rating_4:checked + label {
  background-color: #76b145;
}

.rating-container #rating_5:checked + label {
  background-color: #45b159;
}

.rating-container #rating_1 input[type="radio"]:checked {
  background-color: green;
  padding: 10px 0;
}

.mood-tracker-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-submit {
  background-color: #45b159;
  border-radius: 25px;
  color: white;
  transition-duration: 0.3s;
  padding: 10px 0;
  border: 0;
}

.mood-tracker-quotes {
  position: relative;
}

.quote-decoration {
  position: absolute;
  font-size: 8rem;
  opacity: 0.5;
}

#quote-char-upside {
  left: 20px;
}

#quote-char-upside-down {
  right: 20px;
  bottom: 0px;
  line-height: 0px;
}

.mood-tracker-questionnaire {
  overflow: hidden;
}

/* #form-questionnaire {
  background-color: transparent;
} */

#status-text {
  height: 50px;
  padding: 0;
  /* background-color: #89d197; */
  margin: 0;
  justify-content: center;
  margin: 10px;
}

/* RESPONSIVE CSS: COMMENT OUT IF NECESSARY. */
/* Created by Demie. 10/10/2023 23:30 */

/* MOBILE */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .header-content {
    justify-content: space-around;
    padding: 15px 0;
  }

  .header-content a h1,
  .header-content li a {
    display: none;
  }

  #h1-link {
    display: none;
  }

  /* .header-content img {
    display: none;
  } */
  .header-content img {
    align-self: flex-start;
  }

  .header-content nav {
    display: none;
  }

  .mood-tracker {
    display: flex;
    max-width: calc(100%) - 20px;
    flex-direction: column;
  }

  .quote-decoration {
    display: none;
  }

  #typed-text {
    font-size: 0.8rem;
  }

  .mood-tracker-quotes {
    min-height: 36px;
  }

  .footer-content img,
  .footer-social {
    display: none;
  }

  #mobile-dropdown-menu {
    font-size: 2rem;
  }

  .mobile-only {
    display: block;
  }

  .mobile-disabled {
    display: none;
  }

  #mobile-header-content nav {
    margin-bottom: 20px;
  }

  #mobile-header-content nav ul {
    display: flex;
    flex-direction: column;
  }

  #mobile-header-content nav ul li {
    font-size: 1.5rem;
    padding: 5px;
    margin: 5px;
  }
}

#mood-chart {
  margin: 0 auto;
  padding: 2rem;
}

/* TABLET (HORIZONTAL) / DESKTOP */
@media only screen and (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}
