.segment {
  text-align: center;
  background-color: #89d197;
  padding: 20px 16px;
}

.mood-tracker-container {
  margin-bottom: 4%;
}

.mood-tracker {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 150px 450px 150px;
  grid-auto-flow: column;
  margin: 0 auto;
  max-width: 80%;
  justify-content: center;
}

.mood-tracker > * {
  border-radius: 10px;
}

.mood-tracker-quotes {
  grid-column: 1 / 3;
  grid-row: 1;
}

.mood-tracker-questionnaire {
  grid-column: 1 / 2;
  grid-row: 2;
}

.mood-tracker-rating {
  grid-column: 2 / 3;
  grid-row: 2;
}

.mood-tracker-help {
  grid-column: 1 / 3;
  grid-row: 3;
}

.mood-tracker section {
  margin: 10px;
  background-color: #ecfeef;
}

.mood-tracker p {
  margin: 10px;
}

.mood-tracker-questionnaire form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 20px;
}

.mood-tracker-questionnaire form label {
  text-align: left;
  padding: 10px;
}

#questionnaire-text {
  height: 80%;
  max-height: 80%;
  border-radius: 20px;
  max-width: 530px;
}

#form-submit {
  margin: 10px;
}

#form-questionnaire textarea {
  border: none;
  border-radius: 10px;
  padding: 10px;
  scrollbar-width: none;
  background-color: #ffffff;
  box-shadow: 0 0 10px #45b159;
  resize: none;
}

#form-rating div {
  margin: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px #45b159;
}

.rating-container input[type="radio"] {
  margin: 10px;
  padding: 10px;
  opacity: 0;
  border-radius: 25px;
  position: fixed;
}

.rating-container label {
  font-size: 32px;
  width: 100%;
  display: block;
  border-radius: 25px;
  transition-duration: 0.3s;
  padding: 10px 0;
}

.rating-container input:checked + label {
  border-radius: 25px;
  color: white;
  transition-duration: 0.3s;
  padding: 10px 0;
}

.rating-container #rating_1:checked + label {
  background-color: #b14545;
}

.rating-container #rating_2:checked + label {
  background-color: #b19445;
}

.rating-container #rating_3:checked + label {
  background-color: #aab145;
}

.rating-container #rating_4:checked + label {
  background-color: #76b145;
}

.rating-container #rating_5:checked + label {
  background-color: #45b159;
}

.rating-container #rating_1 input[type="radio"]:checked {
  background-color: green;
  padding: 10px 0;
}

.mood-tracker-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-submit {
  background-color: #45b159;
  border-radius: 25px;
  color: white;
  transition-duration: 0.3s;
  padding: 10px 0;
  border: 0;
}

.mood-tracker-quotes {
  position: relative;
}

.quote-decoration {
  position: absolute;
  font-size: 8rem;
  opacity: 0.5;
}

#quote-char-upside {
  left: 20px;
}

#quote-char-upside-down {
  right: 20px;
  bottom: 0px;
}
