@keyframes breathe {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#typed-text {
  font-size: 1.6rem;
  font-weight: bold;
}

#typing-underscore {
  animation: breathe 2s ease infinite;
}

#typed-author {
  text-align: right;
  animation: appear 2s ease-in;
}
