/* Hero image by David Marcu on Unsplash -> https://unsplash.com/photos/78A265wPiO4  */

/* generic content width is typically around 860 - 900px wide for readability depending on font-sizes. 1140 - 1240 is typically our max-width rows for columns, or other blocks like header/footer content. */

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "AR One Sans", sans-serif;
  overflow-x: hidden;
  background-image: url(../assets/leaves.webp);
}

header .dark {
  font-family: "AR One Sans", sans-serif;
  overflow-x: hidden;
  background-image: url(../assets/darkLeaves.png);
  color: white;
}
/* Font-Family Styles */

.font-ar-sans {
  font-family: "AR One Sans", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

/* Font Modifiers */

.fw-bold {
  font-weight: 600;
}

/* Beginning of Header */

header {
  background-color: #45b159;
}

.header-content {
  max-width: 1240px;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #1f1f1f;
}

header img {
  margin-right: -15px;
}

h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
}

.light-text {
  font-weight: 200;
}

.light {
  background-color: #45b159;
  color: #1f1f1f;
}

.dark {
  background-color: #1f1f1f;
  color: #45b159;
}

/* Main section */

/* * Beginning of Hero */

.hero {
  background-color: #89d197;
  max-width: 1240px;
  margin: 4rem auto;
  border-radius: 10px;
}

.hero-container {
  color: #1f1f1f;
  max-width: 1240px;
  margin: 0 auto;
  min-height: 400px;
}

.hero-text {
  padding: 2rem;
  max-width: 600px;
  position: relative;
  top: 135px;
}

.hero-text h2 {
  font-size: 2rem;
  padding-bottom: 15px;
}

.hero-text p {
  font-size: 1.2rem;
  padding-left: 1px;
  text-align: justify;
}

.bold-heading {
  font-weight: 600;
}

/* * Beginning of Offers */

.offers,
.contact-section {
  background-color: #89d197;
  color: #1f1f1f;
}

.offers {
  max-width: 1240px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0 2rem;
}

#offer-h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

#offer-placeholders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 45px;
}

#offer-placeholders article {
  background-color: #ecfeef;
  padding: 10px 20px;
  border-radius: 10px;
}

#offer-placeholders article h3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 20px;
}

#offer-placeholders article p {
  text-align: justify;
}

.offers-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  max-width: 1240px;
  margin: 4rem auto;
  padding: 20px 0;
  grid-auto-flow: column;
}

.contact-section {
  padding: 20px;
  background-color: #89d197;
  color: #1f1f1f;
  max-width: 1240px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1240px auto;
}

#offer-placeholders,
#offer-h2 {
  grid-column: 1 / 3 span;
}

/* * Beginning of Contact Form */

#contact-form {
  background-color: #89d197;
  display: grid;
  grid-column: 2 / 3;
  max-width: 630px;
  padding: 0 1rem;
}

#contact-form h2 {
  margin: 20px;
  font-size: 2rem;
}

#contact-form input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.name-email {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.name-email div label {
  padding: 10px 0;
  font-weight: 600;
}

.name-email label,
.name-email input {
  display: block;
}

.name-email input {
  background-color: #ecfeef;
}

.name-email input:focus {
  outline: none;
  box-shadow: 0 0 10px #45b159;
}

.name-email label {
  text-align: left;
}

.input-submit {
  flex-direction: column;
  display: flex;
}

.input-submit label {
  padding: 10px 0;
  font-weight: 600;
}

.input-submit textarea {
  min-height: 150px;
  max-height: 150px;
  min-width: 600px;
  max-width: 600px;
  border: none;
  border-radius: 10px;
  scrollbar-width: none;
  padding: 10px;
  background-color: #ecfeef;
  font-family: "AR One Sans", sans-serif;
}

.input-submit textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #45b159;
}

.input-submit textarea::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.input-submit label {
  width: 100%;
  display: block;
  text-align: left;
}

.form-submit {
  display: flex;
  justify-content: flex-end;
  width: 600px;
}

.form-submit button {
  margin-top: 1rem;
  width: calc(50% - 55px);
}

.contact-section button {
  border: none;
  padding: 10px 25px;
  font-size: 1.1rem;
  background-color: #ecfeef;
  text-transform: uppercase;
  border-radius: 10px;
}

/* * Footer */

footer {
  background-color: #45b159;
  margin-top: 4rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #1f1f1f;
  padding: 20px 0;
  text-align: center;
}

footer p {
  padding-left: 25px;
}

.footer-content-flex {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  font-size: 1.5rem;
}

.footer-social a {
  text-decoration: none;
  color: #1f1f1f;
}
/* * Misc */

.blog-post-divider {
  border: 1px solid #45b15985;
  box-shadow: rgba(31, 31, 31, 0.4) 0 1px 10px;
  margin-bottom: 10px;
  width: 85%;
}

#opendyslexic-btn {
  border: none;
  background-color: #ecfeef;
  border-radius: 10px;
  padding: 5px;
}

#opendyslexic-btn-mobile {
  border: none;
  background-color: #ecfeef;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5rem;
}
